.main-body {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 98%;
  overflow: hidden;
  height: 100vh;
  margin: 0px auto;
  max-width: 1500px;
}

.container {
  display: grid;
  overflow: hidden;
  margin-top: 10px;
  margin: 0px auto;
  gap: 10px;
}
